<script setup>
</script>

<template>
  <header>
    <img alt="Vue logo" class="logo" src="./assets/cr7.png" width="400" />


  </header>
  <div class="center-container">
    <div class="center">
      <input id="inputeqp" v-model="equipe" placeholder="Quelle Équipe" @input="findTeam" />
      <select v-if="options_inputed_possible && options_inputed_possible.length > 0" v-model="selectedOption" size="5" @change="handleSelectChange">
        <option v-for="(option, index) in options_inputed_possible" :key="index" :value="option">
          <span v-html="highlightCommonLetters(option)"></span>
        </option>
      </select>
    </div>
    <div class="predicted_result" v-if="predicted_result && Object.keys(predicted_result).length > 0">
      <div class="eqp1" style="text-align: center; color: white;">
        <p>Domicile</p>
        <img :src="predicted_result.homeTeam.crest" style="height: 200px;"/>
        <div style="text-align: center; font-size: 25px;">
          <h3>{{ predicted_result.homeTeam.shortName }}</h3>
          <p>{{ predicted_result.homeTeam.predictedresult }}</p>
        </div>
      </div>
      <div class="eqp2" style="text-align: center; color: white;">
        <p>Exterieur</p>
        <img :src="predicted_result.awayTeam.crest" style="height: 200px;"/>
        <div style="text-align: center; font-size: 25px;">
          <h3>{{ predicted_result.awayTeam.shortName }}</h3>
          <p>{{ predicted_result.awayTeam.predictedresult }}</p>
        </div>
      </div>
    </div>
    <div v-else-if="predicted_result && Object.keys(predicted_result).length === 0">
    <p style="text-align: center; color: white;">Faites une recherche pour voir les détails du match.</p>
  </div>
  <div v-else>
    <p style="text-align: center; color: white;">Aucun match à venir pour cette équipe.</p>
  </div>
  </div>
</template>

<script>
import TeamApiHandler from './Team.js'; // 
export default {
  data() {
    return {
      predicted_result: {},
      equipe: '',
      //options: ['Montpellier', 'Marseille', 'Toulouse', 'Nevers', 'Jerusalem', 'Montelimar', 'Agde', 'Paris', 'Milan', 'Porto', 'Londres', 'Lorient', 'La rochelle'],
      options_inputed_possible: [],
      selectedOption: '',
    };
  },
  methods: {
    async findTeam() {
      const apiBaseUrl = 'http://martin-genereux.fr:8080';
      const teamApiHandler = new TeamApiHandler(apiBaseUrl);
      // Appel de l'API pour obtenir les équipes avec le nom "Real"
      teamApiHandler.getTeamsByName(this.equipe)
        .then(teams => {
          this.options_inputed_possible = teams;
       }).catch(error => {
        console.log(error);
       })
    },
    highlightCommonLetters(option) {
      if (this.equipe && typeof this.equipe === 'string') {
      const commonLettersRegex = new RegExp(`[${this.equipe.toLowerCase()}]`, 'ig');
      return option.name.replace(commonLettersRegex, (match) => {
        return `<span class="to-bold">${match}</span>`;
      });
  }
  return '';
    },
    async handleSelectChange() {
      this.equipe = this.selectedOption.name;
      //Lancer api pour chercher l'equipe
      const apiBaseUrl = 'http://martin-genereux.fr:8080';
      const teamApiHandler = new TeamApiHandler(apiBaseUrl);
      console.log(this.selectedOption);
      this.predicted_result =  await teamApiHandler.getFaceToFaceByMatchId(this.selectedOption.legacy_id);
    },
  },
};
</script>

<style>
@import './assets/btn.css';

.center-container {
  display: flex;
  flex-direction: column;
}
.predicted_result{
  display: flex;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.to-bold {
  font-weight: bold;
  font-size: 20px;
  /* Changez ceci en fonction du style CSS que vous souhaitez appliquer */
}

.center {
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header {
  line-height: 1.5;
}

input {
  width: 100%;
}

select {
  overflow-y: hidden;
  width: 100%;
  background: transparent;
  border: none;
}

option {
  color: white;
}

select option:hover {
  /*box-shadow: 0 0 10px 100px rgb(113, 168, 24) inset;*/
  box-shadow: none;
}


select option:not(:focus) {
  /*box-shadow: 0 0 10px 100px rgb(113, 168, 24) inset;*/
  box-shadow: none;
  background-color: transparent;
}

select option:active {
  /*box-shadow: 0 0 10px 100px rgb(113, 168, 24) inset;*/
  box-shadow: none;
}
select:focus-visible{
  outline: none;
  box-shadow: none;
}

#inputeqp {
  color: white;
  height: 40px;
  display: flex;
  align-self: center;
  background-color: #2e292c;
  border-radius: 10px;
  padding-left: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #535050;
  /*border: none;*/
}

#inputeqp:focus {
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}</style>
